{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1 class="text-white text-center">Here is a list of the appointments you have made:</h1>
        <!-- Appointment list details -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for booking in bookings %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">Name of Patient: {{ booking.name }}</h5>
                            <div class="card-text">
                                <p>Date booking requested: {{ booking.date_requested }}</p>
                                <p>Time of day requested: {{ booking.time_requested }}</p>
                                <p>Contact Phone Number: {{ booking.phone }}</p>
                                <p>Status of Booking: {{ booking.get_status_display }}</p>
                            </div>
                            <td>
                                <a href="/edit_appt/{{ booking.id }}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <a href="/delete_appt/{{ booking.id }}">
                                    <button>Delete</button>
                                </a>
                            </td>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}         
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>  
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
