{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div id="outer-box">
            <h2>Thank you for booking an appointment with us!</h2>
            <h3>We will give you a call on the number provided to confirm the time and date.</h3>
            <h4>To view, change or cancel your booking please <a href="{% url 'booking_app/appt_list' %}">click here</a></h4>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
